html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
* {
  margin: 0;
  padding: 0;
}

body {
  background-image: -webkit-linear-gradient(
    top left,
    #f1cb2c 0%,
    #f1cb2c 40%,
    #dfa916 100%
  );
  font-family: Arial, Helvetica, sans-serif;
}

img {
  width: 100%;
  display: block;
}

#root {
  width: 100%;
  display: flex;
  justify-content: center;
}
